# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Supabase Connection String (PostgreSQL)
DATABASE_URL=postgresql://postgres:Silva7hames@db.jaxxvyrkqswslusvrvqgm.supabase.co:5432/postgres

# JWT (para autenticação do sistema)
JWT_SECRET=minha_chave_secreta_super_complexa_123_vetclinic
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=http://localhost:8080